# ─── Servidor ─────────────────────────────────────────────────────────────────
SERVER_IP=179.127.59.225

# ─── MySQL ────────────────────────────────────────────────────────────────────
MYSQL_ROOT_PASSWORD=7bar@2025

# ─── JWT ──────────────────────────────────────────────────────────────────────
JWT_SECRET=7bar_jwt_super_secret_2025
